h1{
    text-align: center;
}

button{ 
    margin: 10px;
    padding: 10px 20px;
    background-color: #000000;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 45vw;
    border: 1px solid black;
}

p{
    text-align: center;
    

}
hr {
    border: none;        
    border-top: 2px solid #ccc; 
    margin: 20px 0;      
  }

img{
  width: 400px;
  height: 350px;
   
    display: block;
    margin: auto;
}